<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!--<add name="DbConfiguration"
			connectionString="Data Source=MIKI-PC\SQLEXPRESS;Initial Catalog=DbConfiguration;Integrated Security=True;Encrypt=false"/>-->
		<add name="DbConfiguration"
		connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DbConfiguration;Integrated Security=True;Encrypt=false"/>
	</connectionStrings>
</configuration>